<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.promote.dao.ProductMapper">

	<resultMap id="productModel" type="com.system.promote.entity.Product">

	</resultMap>

	<select id="queryAll" resultMap="productModel">
		select
		*
		from
		PRODUCT
	</select>

</mapper>